<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>        
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% block osimek1_articles_header %}
            {% endblock osimek1_articles_header %}
            
            {% block osimek1_articles_content %}
            {% endblock osimek1_articles_content %}
        </div>
    </body>
</html>